<h2> ADD </h2>

<form [formGroup]="fg" (ngSubmit)="addRecipe()">

<div class="form-group">
    <label> Title </label>
    <input type="text" class="form-control" formControlName="title"/>
</div>

<div class="form-group">
    <label> Image </label>
    <input type="text" class="form-control" formControlName="image_url"/>
</div>

<div class="form-group">
    <label> Recipe By </label>
    <input type="text" class="form-control" formControlName="recipe_by"/>
</div>

<div class="form-group">
    <label> Description </label>
    <input type="text" class="form-control" formControlName="description"/>
</div>

<div formArrayName="ingredients">
    <h4>Ingredients <input type="button" class="btn btn-primary btn-xs" (click)="addIngredient()" value="ADD"/></h4>
    <div *ngFor="let ingredient of fg.controls.ingredients.controls; let i=index">
        
        <div [formGroupName]="i">
            <div class="form-inline">  
                <label>Ingredient</label>             
                <input type="text" placeholder="Ingredient" class="form-control" formControlName="ingredient">

                 <label>Qty</label>
                <input type="text" placeholder="Qty" class="form-control" formControlName="qty">
            </div> 
            <div class="form-inline">
               
            </div>   
            <hr>
        </div>

    </div>  

</div>

<div class="form-group">
    <label>Procedure</label>
    <textarea formControlName="directions" place="Directions" class="form-control"></textarea>
</div>

<div class="form-group">
    <label>Preparation Time(min)</label>
    <textarea formControlName="prep_time" place="" class="form-control"></textarea>
</div>

<div class="form-group">
    <label>Cook Time(min)</label>
    <textarea formControlName="cook_time" place="" class="form-control"></textarea>
</div>


<input type="submit" value="ADD RECIPE" class="btn btn-primary"/>

</form>