<h2> Search </h2>

<form class="form-horizontal">
    <div class="form-group">
        <label>Receipe</label>
        <input type="text" class="form-control" placeholder="Search" />
    </div>
</form>